# Ignora la carpeta de compilación
/target

# Ignora archivos y carpetas de configuración de IDE
/.idea
*.iml

# Ignora archivos de control de versiones
git
.git
.gitignore

# Otros archivos temporales
*.log
.DS_Store 
.env
Dockerfile
docker-compose.yml
README.md 